
.showInfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 100vh;
  min-width: 900px;
  min-height: 900px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.showInfo-image {
  width: 350px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 15px;
  top: 15px;
}

.show-watch-btn{
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(32, 179, 98,0.8);
  text-align: center;
  line-height: 1.5;
  font-size: 30px;
  margin: 10px 0;
}

.episode-number {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  background-color: rgba(6, 155, 38, 0.3);
}

.episode-number h1{
  font-size: 52px;
}

.episode-number p{
  font-size: 24px;
}

.showInfo-image a {
  text-decoration: none;
}

.show-rating{

 display: flex;
 justify-content: space-around;

}

.show-rating h1 {
 font-size: 72px;
 text-align: center;
}

.showInfo-content {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  background: rgb(0, 0, 0, 0.7);
  position: relative;
}

.showInfo-text {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  color: #fff;
  position: absolute;
  left: 360px;
}

.showInfo-text h1 {
  text-align: center;
  font-size: 52px;
  margin: 0;
}

.showInfo-text p {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  line-height: 26px;
}


.showInfo-image img {
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;

}

.show-genres {
  word-spacing: 10px;
  color: red;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}