.tvm-searchbar {
  width: 100%;
  height: 105px;
  background: #1c1c1c;
  position: relative;
  padding: 25px ;
  box-sizing: border-box;
  color: #fff;
}

.tvm-searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 55px;
  background:#353535;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  color: #fff;
}

.tvm-fa-search {
  position: absolute;
  left: 20px;
  top: 12px;
  color: #fff;
}

.tvm-searchbar-input {
  font-family: 'Abel', sans-serif;
  font-size: 38px;
  position: absolute;
  left: 70px;
  top: 7px;
  border: 0;
  background: transparent;
  height: 40px;
  color: #fff;
}

.tvm-searchbar-input:focus {
  outline: none;
}
